<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center ">
          <a id="salesforceLoginBtn" class="btn btn-primary" href="https://login.salesforce.com/services/oauth2/authorize?response_type=code&client_id=3MVG9YDQS5WtC11qkyOS6M6DQY99CEesL6Mdf0xzUGG8bD8o0a4CCnkxZjn4ut5cd4o9mjihGRubfypmGyEGj&redirect_uri=https://salesforceauthmock.herokuapp.com/" id="salesforceLoginBtn">Login with Salesforce</a>
          <img width="300px" height="200px" src='' id="profilePic" alt="Profile Picture"/>
          <h3 id="salesforceUsername"></h3>
          <p class="text-muted" id="salesforceUserId"></p>
          <h3 id="salesforceOrgName"></h3>
          <p class="text-muted" id="salesforceOrgId"></p>
      </div>
    </div>
  </div>
  <!-- eJS varibales -->
  <% let client_id = salesforce_client_id %>
  <% let client_secret = salesforce_client_secret %>
  <% let sfUname = salesforce_user_name%>
  <% let sfUId = salesforce_user_id%>
  <% let profilePicUrl = salesforce_profilePicURL %>
  <% let sfOrgId = salesforce_org_id %>
  <script>

      $(document).ready(function(e){
        let currentHref = parent.window.location.href;
        console.log(currentHref);
        if(currentHref !== undefined){
          if(currentHref.includes('code')){
            const code = decodeURIComponent(currentHref.slice(currentHref.indexOf('=')+1));
            const payload = {
              grant_type: 'authorization_code',
              code,
              client_id: '<%= client_id %>',
              client_secret: '<%= client_secret %>',
              redirect_uri: 'https://salesforceauthmock.herokuapp.com/' 
            };
            $.ajax({
              url: 'https://login.salesforce.com/services/oauth2/token',
              method: 'POST', 
              crossdomain: true,
              headers: {
                "Content-Type":"application/x-www-form-urlencoded",
              },
              dataType: 'json',
              data: payload
            })
            .done(function(response){ 
              //console.log(response); 
              const accessToken = response.access_token;
              const refreshToken = response.refresh_token;
              const instanceURL = response.instance_url;
              const userInfoEndPoint = response.id;
              
              const authorizationHeader = 'Bearer ' + accessToken;
              // make another request to fetch the org and user id
              $.ajax({
                //url: instanceURL+ '/services/apexrest/organduserdetails/',
                url: userInfoEndPoint,
                method: 'GET', 
                beforeSend: function(xhr){
                  xhr.setRequestHeader('Authorization',authorizationHeader);
                },
                crossdomain: true,
                dataType: 'json'
              })
              .done(function(response){
                console.log('User details',response);
                window.location.href = 'https://salesforceauthmock.herokuapp.com/success?response='+JSON.stringify(response);

              });
            });
          } else if(currentHref.includes('success')){
            document.querySelector('#salesforceLoginBtn').style.display = 'none';
            cocument.querySelector('#profilePic').setAttribute('src', '<%= profilePicUrl %>');
            document.querySelector('#salesforceUsername').innerText = ('<%= sfUname %>' !== undefined) ? '<%= sfUname %>': '';
            document.querySelector('#salesforceUserId').innerText = ('<%= sfUId %>' !== undefined) ? '<%= sfUId %>': '';
            document.querySelector('#salesforceOrgId').innerText = ('<%= sfOrgId %>' !== undefined) ? '<%= sfOrgId %>': '';
          }
        }
      }); 
    
  </script>
</body>
</html>
