<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>
<style></style>
<body>

  <% include ../partials/nav.ejs %>
 <!-- eJS varibales -->
 <% let sfUname = salesforce_user_name%>
 <% let sfUId = salesforce_user_id%>
 <% let profilePicUrl = salesforce_profilePicURL %>
 <% let sfOrgId = salesforce_org_id %>

  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center ">
          <a id="salesforceLoginBtn" class="btn" href="https://login.salesforce.com/services/oauth2/authorize?response_type=code&client_id=3MVG9YDQS5WtC11qkyOS6M6DQY99CEesL6Mdf0xzUGG8bD8o0a4CCnkxZjn4ut5cd4o9mjihGRubfypmGyEGj&redirect_uri=https://salesforceauthmock.herokuapp.com/callback" id="salesforceLoginBtn" style="background-color: #00A1DF; color: white;"> <i class="fas fa-cloud"></i> Log in with Salesforce</a>
          
          <% if(sfUname != '') { %>
          <img width="300px" height="200px" src='' id="profilePic" alt="Profile Picture"style="display: block;margin-left:auto;margin-right: auto;"/>
          <h3 id="salesforceUsername">Username: </h3>
          <p class="text-muted" id="salesforceUserId">User ID: </p>
          <p class="text-muted" id="salesforceOrgId">Organization ID: </p>
          <% } %>
      </div>
    </div>
  </div>
 
  <script>

    $(document).ready(function(e){
      let currentHref = parent.window.location.href;
      if(currentHref !== undefined){
        if(currentHref.includes('code')){
          
        } else if(currentHref.includes('success')){
          document.querySelector('#salesforceLoginBtn').style.display = 'none';
          document.querySelector('#profilePic').setAttribute('src', '<%= profilePicUrl %>');
          document.querySelector('#salesforceUsername').innerText += '' + ('<%= sfUname %>' !== undefined) ? '<%= sfUname %>': '';
          document.querySelector('#salesforceUserId').innerText += '' + ('<%= sfUId %>' !== undefined) ? '<%= sfUId %>': '';
          document.querySelector('#salesforceOrgId').innerText += '' + ('<%= sfOrgId %>' !== undefined) ? '<%= sfOrgId %>': '';
        }
      }
    });

</script>
</body>
</html>


